*,
::after,
::before {
  box-sizing: border-box;
}

.blog-title {
  height: 300px;
  position: relative;
  text-align: center;
}

.blog-title > .article-title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.article-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p.blockquote-text,
p.left {
  text-align: left;
}

.figure-caption {
  width: 60%;
  margin: auto;
}

@media only screen and (max-width: $mqminwidth) {
  [class*="col-"] {
    width: 100%;
  }

  .article-content {
    width: 80%;
  }
}
