*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background-color: $uoc-bg;
  height: 100%;
}

h1,
h2,
h3,
p,
a {
  color: $font-color;
  text-decoration: none;
}

@supports (display: grid) {
  @media (min-width: $mqminwidth) {
    main {
      max-width: none;
      display: grid;
      padding: 0;
    }
  }
}

img.coverphoto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  max-width: 600px;
  padding: 20px;
  border-radius: 30px;
}

p {
  text-align: center;
}

.fa-1x {
  font-size: 1.5rem;
}

.bg {
  background-image: url("/src/assets/images/background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shadowtext {
  text-shadow: 0 0 5px #fff;
}

footer * {
  color: $dark;
}

footer {
  position: relative;
  bottom: 0;
  z-index: 3;
}

.footer-buttons {
  width: 90%;
}

@media only screen and (max-width: $mqminwidth) {
  [class*="col-"] {
    width: 100%;
  }

  img.coverphoto {
    width: 80%;
  }
}
